# PostgreSQL params
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=ht_test_db
POSTGRES_USER=
POSTGRES_PASSWORD=

# Настройки Uvicorn (можно оставить как есть)
UVICORN_PORT=8000
LOG_LEVEL=info

# Application params
APP_TITLE="API организационной структуры"
APP_DESCRIPTION="Версия 2026-05-13"
